<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- hostingModel="inprocess" lebih cepat karena berjalan dalam proses IIS -->
      <aspNetCore processPath="dotnet"
                  arguments=".\AMRVI.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess" />
      <!-- WebSocket WAJIB untuk SignalR auto-update berfungsi di IIS -->
      <webSocket enabled="true" />
    </system.webServer>
  </location>
</configuration>
